:root {
  --background: #141916;
  --white: #F4F1DE;
  --accent: #31473A;
  --default-padding: 20px;
}

.theme-dark {
  --background-color: var(--background);
  --white-color: var(--white);
  --accent-color: var(--accent);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--white-color);
}

.App p{
  font-size: 1.2rem;
}

.App h2{
  font-size: 1.75rem;
}


.App-logo {
  width: 40px;
  border-radius: 50%;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
}

.App-nav a {
  margin: 0 15px;
  color: var(--white-color);
  text-decoration: none;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-section {
  /* padding: var(--default-padding); */
}

.about {
  width: 80%;
  font-size: 1.75rem;
  font-weight: 600;
}

.project-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  width: 90%;
  padding-left: 1rem;
}

@media (max-width: 576px) {
  .project-grid{
    flex-direction: column;
  }
}

#about{
  background-color: #31473A;
}


.project {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 576px) {
  .project{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;

  }
}

.project-image-container {
  flex: 0 0 150px;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

@media (max-width: 576px) {
  .project-image-container {
    justify-content: start;
    width: auto;
    aspect-ratio: 12/9;

  }
}
.project-image {
  width: 90%;
  height: 70%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  /* border-radius: 6px; */
}

/* @media (max-width: 576px) {
  .project-image{
    aspect-ratio: 1/1;

  }
} */

.project-info {
  flex: 1;
  color: var(--white-color);
}

.project-info h3 {
  margin: 0;
  font-size: 1.5rem;
  display: inline;
}

@media (max-width: 576px) {
  .project-info h3{
    font-size: 1.25rem;
  }
}

.project-info p {
  margin: 10px 0 0;
  font-size: 1rem;
  line-height: 1.5;
}

.project-info {
  color: var(--white-color);
}

.project::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, var(--accent-color) 50%, var(--white-color) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
}

.project:hover::after {
  background-position: 0 0;
}

.App-footer {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.social-links a {
  margin-right: 20px;
  display: inline-block;
}

.social-links a:last-child {
  margin-right: 0;
}


.panel-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .panel-container {
    flex-direction: column;
    width: auto;
    align-items: center;
    flex-wrap: wrap;
  }
}



.panel {
  width: 40%;
  text-align: center;
}
@media (max-width: 576px) {
  
  .panel{
    width: 100%;
  }
}

.panel-image {
  padding: 6px;
  width: 60px;
  /* height: 50px; */
}

.two-column-list {
  display: flex;
  flex-wrap: wrap;
}

.column-item {
  width: 50%;
  box-sizing: border-box;
}
.column-item p {
  padding: 4px 0px;
  margin: 0px;
}

.custom-shape-divider-top-1720548982 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1720548982 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1720548982 .shape-fill {
  fill: #31473A;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}