.theme-light { /* Light theme styles */
  --background-color: #f4f4f4;
  --text-color: #222;
  --accent-color: #007bff;
}

.theme-dark { /* Dark theme styles */
  --background-color: #282c34;
  --text-color: #fff;
  --accent-color: #61dafb;
}

.theme-minimal { /* Minimal theme styles */
  --background-color: #fff;
  --text-color: #333;
  --accent-color: #00bfa5;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}


.App-logo {
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.App-header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5rem;
  margin: 10px 0;
  color: var(--text-color);

}

.App-subtitle {
  font-size: 1.2rem;
  margin: 10px 0 20px;
  color: var(--text-color);

}

.App-nav {
  margin: 20px 0;
}

.App-nav a {
  color: var(--text-color);

  margin: 0 15px;
  text-decoration: none;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-section {
  padding: 40px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

#about, #projects, #contact {
  margin-top: 20px;
}



h2 {
  color: var(--text-color);
}

a {
  color: #61dafb;
}


/* Project Grid Styling */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Individual Project Styling */
.project {
  border: 3px solid #1e2129; /* Increased border thickness */
  border-radius: 12px; /* Added border radius */
  padding: 15px;
  background-color: var(--project-background);
  border-color: var(--project-border);  
  color: var(--text-color); /* Light text color */
  cursor: pointer; /* Indicate clickability with pointer cursor */
  transition: transform 0.2s ease; /* Smooth transition for hover effect */
}

.project:hover {
  transform: scale(1.05); /* Subtle zoom effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow on hover */
}

.project-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Add spacing between image and title */
}

.project-info {
  text-align: left; /* Left-align project title and description */
}